body {
  font-family: "Yantramanav", cursive;
  background: url("../img/playstation.png");
}

h1 {
  font-family: "Lobster Two", cursive;
}

h1 {
  margin-bottom: 35px;
}

footer {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 35px;
}

#root {
  margin-top: 50px;
}

#logo {
  max-width: 75px;
}

.blue {
  color: #55f;
}

.red {
  color: #f55;
}
